<!--一覧画面-->

<h1>Books</h1>

<%= @books.each do |book| %>
<!--@books.eachでBookレコードの数だけ繰り返し処理、book変数に格納-->

<p>Title</p>
<span><%= book.title %></span>

<p>Body</p>
<span><%= book.body %></span>



<% end %>
