.index{
  font-size:12px;
  margin-bottom:30px;
}

.books-title{
  font-size:30px;
}

.newbooks-title{
  font-size:20px;
}

.create-book{
  text-align: left;
  font-size:12px;
}


.create-box{
  margin:0 0 10px 0;
  
}

.create-format{
  margin-bottom:0;
}

form{
  margin:0;
}

input{
  margin:0 10px 0 10px;
}

textarea{
  margin:0 10px 0 10px;
}

