.flash{
  color:green;
  font-size:12px;
  margin:30px 60px;
}

// -------index.html--------
.index{
  font-size:12px;
  margin-bottom:30px;
}

.books-title{
  font-size:30px;
}

.newbooks-title{
  font-size:20px;
}

.create-book{
  font-size:12px;
}

.create-box{
  margin:0 0 10px 0;
}

.create-format{
  margin-bottom:0;
}

form{
  margin:0;
}

input{
  margin:0 10px 0 10px;
}

textarea{
  margin:0 10px 0 10px;
}

// -------show.html--------
.show{
  font-size:12px;
}

.show-box{
  margin:30px 0 10px 40px;
}

.show-format{
  padding-bottom:20px;
  font-weight:bold;
}

.link-box{
 margin-left:0px;
}

.link{
  margin:0;
}


// -------edit.html--------
